.faqtext{
    color: white;
    background-color: black;
    text-align: center;
    padding: 2%;
    font-weight: bold;
    font-size: xx-large;
}

.megaqcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 25px 0;
}

.qcontainer{
    outline: solid rgb(255, 255, 255);
    width: 60%;
    @include re-color1(black, white);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1.5%;
    margin: 10px;
    .num{
        width: 6%;
        color: black;
        background-color: white;
        padding: 5px;
        border-radius: 2px;
        font-weight: bolder;
        text-align: center;
    }
}

.q{
    width: 50%;
    a{
        text-decoration: none;
        color: white;
    }
}

.megaacontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin: 15px 0;
}

.acontainer{
    outline: solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    width: 60%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1.5%;
    margin: 10px;
    scroll-behavior: smooth;
    .num{
        /*     outline: solid red;
         */ width: 6%;
            color: rgb(255, 255, 255);
            background-color: rgb(0, 0, 0);
            padding: 5px;
            border-radius: 2px;
            font-weight: bolder;
            text-align: center;
        }
}

.a{
    width: 50%;
/*     outline: solid green;
 */}

/* FAQ END */

/* CONTACT FORM START */

.form__container{
    background-color: #7260b4;
    height: 400px;
    text-align: center;
    position: relative;
}

.form__body{
    width: 50%;
    height: 100px;
    background-color: gray;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    top: 30px;
    left: 300px;
    img{
        height: 40px;
    }
}

.login-card{
    width: 450px;
    background: rgba(255, 255, 255, .5);
    padding: 4rem;
    border-radius: 70px;
    position: relative;
}

.login-card-logo{
    text-align: center;
    img{
        width: 50px;
    }
}

.login-card-header{
    text-align: center;

}

.login-card-form{
    text-align: center;
    input[type="text"]{
        width: 70%;
        height: 30px;
        border: none;
        border-radius: 10px;
    }
    input[type="password"]{
        width: 70%;
        height: 30px;
        border: none;
        border-radius: 10px;
    }

}

.login-card-footer{
    text-align: center;

}

.socials-container{
    text-align: center;
}

.button-container{
    padding: 10px;
}

#sign-in-button{
    width: 210px;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    background: black;
    color: aliceblue;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.form-item, .form-item-2{
    padding: 10px;
}

.form-item, .form-item-2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact__body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right, #282aaa,#270f53 );
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-item{
    input{
        padding: 5px;
    }
}

p{
    padding: 10px;
}

textarea{
    border-radius: 6px;
}
