@media screen and (max-width:1200px){
    .grid__container{
        display: grid;
        grid-template-areas: 
        "nav"
        "title"
        "model"
        "model"
        "infos"
        "disc"
        "mint";
        text-align: center;
    }

    .long__message{
        font-size: 13px;
        padding-bottom: 20px;
    }

    .item2{
        height: 40vh;
        .subtitle__container{
            height: 5%;
            font-size: small;
        }
        .title__container{
            height: 5%;
            font-size: small;
        }
    }

    .item3{
        height: 60vh;
    }

    .disc{
        font-size: small;
    }

    .logo__container{
        display: flex;
        justify-content: center;
        img{
            height: 3vh;
            width: 3vh;
        }
    }


    .main__links{
        font-size: small;
    }

    .button__container{
        padding: 0;
    }


    button{
        padding: 1px 3px;
        font-size: smaller;
    }

    .tapa{
        height: 11%;
    }

    .qcontainer{
        width: 85%;
    }

    .acontainer{
        width: 85%;
    }

    .qcontainer .num{
        width: 12%;
    }

    .acontainer .num{
        width: 12%;
    }

    .login-card{
        width: 400px;
    }

    .img__container {
        img{
            height: 89px;
    }
    }

    .item{
        height: 254px;
        width: 190px;
    }

    .cards__container{
        grid-template-columns: repeat(2, 1fr);
    }

    .items, .owners, .floor, .volume{
        width: 30%;
    }

    .project__numbers{
        .qty{
            font-size: medium;
        }
    } 

    .first__row{
        font-size: 12px;
    }

    .second__row{
        font-size: 15px;
    }

    .data__container{
        height: 1%;
    }
    .policy__num{
        font-size: x-small;
    }

    .logos{
        width: 100%;
    }

    .collection__name{
        padding: 10px;
        font-size: medium;
    }

    .data__container{
        .first__row{
            margin: 0;
        }
    } 

    .sale__sign{
        width: 42%;
        padding: 0;
    }

}