@charset "UTF-8";
/* Declaración de variables */
/* MIXIN */
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Permanent+Marker&family=Poppins&family=Righteous&display=swap");
html {
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

.grid__container {
  display: grid;
  grid-template-areas: "nav nav nav nav" "namae namae namae namae" "title model model infos" "blank blank blank blank" "disc disc disc disc" "mint mint mint mint";
  text-align: center;
  /*     outline: solid red;
 */ }

.nav__bar {
  grid-area: nav;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #222222;
  color: white; }
  .nav__bar li:hover {
    font-weight: bolder; }

.namae {
  grid-area: namae;
  color: white;
  background-color: black;
  padding-top: 40px;
  font-family: 'Mochiy Pop One', sans-serif;
  font-size: 30px; }

.mobile {
  display: none; }

.item2 {
  grid-area: title;
  height: 70vh;
  /*     outline: solid red;
 */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: black; }
  .item2 .subtitle__container {
    /*     outline: solid purple;
         */
    max-width: fit-content;
    height: 30%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .item2 .title__container {
    max-width: fit-content;
    /*     outline: solid green;
         */
    height: 30%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .item2 .legend__container {
    max-width: fit-content;
    /*     outline: solid green;
         */
    height: 30%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify; }

.title__container span {
  font-style: italic;
  animation-name: aparecer;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1s; }

.item3 {
  grid-area: model;
  position: relative; }

.infos {
  grid-area: infos;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black; }

.disc {
  grid-area: disc; }

.blank {
  grid-area: blank;
  background-color: black;
  padding: 21px; }

.mint {
  grid-area: mint; }

.logo__container {
  /*     outline: solid red;
     */
  width: 20%;
  /*     outline: solid red;
     */
  display: flex;
  justify-content: center; }
  .logo__container a {
    /*     outline: solid green;
             */
    display: flex;
    justify-content: center;
    align-items: center; }
  .logo__container img {
    width: 30px; }

.main__links {
  /*     outline: solid purple;
         */
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .main__links ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*     outline: solid salmon;
             */
    list-style-type: none; }
  .main__links a {
    color: white;
    text-decoration: none; }

.button__container {
  /*     outline: solid blue;
     */
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center; }

button {
  background-color: #5c00d4;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
  border-style: none;
  font-weight: bolder;
  transition: background-color 0.5s; }
  button:hover {
    background-color: #994bff; }

.long__message {
  /*     outline: solid aqua;
         */
  max-width: fit-content;
  height: 100%;
  width: 80%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .long__message span {
    display: inline; }

.tapa {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 10%;
  bottom: 0; }

.disc {
  /*     outline: solid red;
             */
  text-align: center;
  padding: 3vh;
  font-weight: bolder;
  background-color: #252525;
  color: white; }

.logo__mint {
  padding: 3vh; }
  .logo__mint img {
    height: 7vh; }

.mint {
  background-image: url("../images/halftone_background_12.jpg");
  background-size: cover; }

.blocks__container {
  display: flex;
  justify-content: center;
  padding: 4%; }

.blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-evenly; }

.block {
  background-color: black;
  color: white;
  width: 120px;
  height: 90px;
  padding: 5px;
  /*     padding: 10px 50px;
             */
  border-radius: 10px;
  font-weight: bolder;
  font-size: larger;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: scale 0.5s; }
  .block:hover {
    scale: 120%; }

@keyframes aparecer {
  0% {
    opacity: 100%; }
  50% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }

.fade-up {
  display: flex; }

.container-fluid {
  /*     outline: solid green;
     */ }

.explanation {
  /*     outline: solid green;
     */
  padding: 2vh;
  background-image: url(../images/aboutusbannerbg.jpg);
  background-size: cover;
  color: white; }

.col-3 {
  /*     outline: solid blue;
     */
  padding: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.col-lg-9 {
  /*     outline: solid purple;
     */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 40px;
  background: linear-gradient(-45deg, #612e1e, #581630, #135b75, #0c614d);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite; }

.founders__info {
  /*     outline: solid red;
     */
  background-image: url(../images/halftone_background_12.jpg);
  background-size: cover; }
  .founders__info img {
    height: 20vh;
    border-radius: 20px;
    margin: 10px;
    transition: scale 0.5s; }
    .founders__info img:hover {
      scale: 120%; }

.member__name {
  /*     outline: solid aqua;
         */
  font-size: x-large; }

.founder1 {
  padding: 3vh;
  /*     outline: solid red;
         */ }

.logo__container img {
  transition: scale 0.5s; }
  .logo__container img:hover {
    scale: 120%; }

.fade-up {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

ul {
  margin: 0; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.main__image img {
  height: 110%;
  border-radius: 50px;
  border: solid white; }

.general__info {
  /*     outline: solid red;
 */
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  padding: 20px; }

.policy, .main__image, .socials {
  width: 30%;
  /*     outline: solid green; */
  display: flex;
  justify-content: center;
  align-items: center; }

.policy__num {
  color: #2c6ecf;
  background-color: #07143a;
  border-radius: 10px;
  padding: 10px; }

.logos {
  /*     outline: solid magenta;
 */
  color: white;
  width: 40%;
  display: flex;
  justify-content: space-around; }

.collection__name {
  text-align: center;
  /*     outline: solid yellowgreen;
 */
  border: solid black;
  color: black;
  background-color: white;
  /*     background-image: url(grid/collectionbanner.jpg); */
  background-size: cover;
  padding: 30px;
  font-weight: bolder;
  font-size: 30px; }

.project__numbers {
  /*     outline: solid red;
 */
  color: white;
  width: 70%;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  display: flex;
  padding-top: 50px; }

.items, .owners, .floor, .volume {
  outline: solid white 2px;
  display: flex;
  width: 15%;
  flex-direction: column;
  padding: 20px;
  margin: 10px;
  text-align: center;
  border-radius: 7px; }

.general__numbers {
  display: flex;
  justify-content: center;
  background-color: black; }

.project__numbers .qty {
  font-weight: bold;
  font-size: x-large; }

.project__numbers .text {
  color: gray; }

.slogan {
  text-align: center;
  padding: 20px;
  color: gray;
  background-color: black; }

.gallery {
  display: flex;
  justify-content: center;
  background-color: black; }

.cards__container {
  /*     outline: solid red;
 */
  margin: 50px;
  width: 6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 40px;
  grid-column-gap: 40px; }

.item {
  outline: solid white 1px;
  height: 400px;
  width: 300px;
  border-radius: 5px;
  transition: scale 0.3s; }
  .item:hover {
    scale: 105%; }

.img__container1 {
  background-color: aqua;
  height: 75%;
  background-image: url(../images/frontlogo.png);
  background-size: contain;
  outline: solid white 1px;
  border-radius: 5px; }

.data__container {
  /*     outline: solid red;
 */
  background-color: black;
  height: 10%; }

.data__container .first__row {
  /*     background-color: salmon;
 */
  padding: 10px;
  margin: 10px;
  color: white;
  font-weight: bold; }

.data__container .second__row {
  /*     background-color: aquamarine;
 */
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-weight: bold;
  /*     outline: solid aqua;
 */ }

.sale__sign {
  color: rgba(255, 255, 0, 0.678);
  background-color: #443800;
  width: 30%;
  text-align: center;
  border-radius: 5px;
  padding: 7px 10px;
  margin: px; }

.img__container2 {
  background-color: aqua;
  height: 75%;
  background-image: url(../images/nft2.png);
  background-size: contain;
  outline: solid white 1px;
  border-radius: 5px; }

.img__container3 {
  background-color: aqua;
  height: 75%;
  background-image: url(../images/nft3.png);
  background-size: contain;
  outline: solid white 1px;
  border-radius: 5px; }

.img__container4 {
  background-color: aqua;
  height: 75%;
  background-image: url(../images/nft4.png);
  background-size: contain;
  outline: solid white 1px;
  border-radius: 5px; }

.img__container5 {
  background-color: aqua;
  height: 75%;
  background-image: url(../images/nft5.png);
  background-size: contain;
  outline: solid white 1px;
  border-radius: 5px; }

.img__container6 {
  background-color: aqua;
  height: 75%;
  background-image: url(../images/nft6.png);
  background-size: contain;
  outline: solid white 1px;
  border-radius: 5px; }

.img__container7 {
  background-color: aqua;
  height: 75%;
  background-image: url(../images/nft7.png);
  background-size: contain;
  outline: solid white 1px;
  border-radius: 5px; }

.img__container8 {
  background-color: aqua;
  height: 75%;
  background-image: url(../images/nft8.png);
  background-size: contain;
  outline: solid white 1px;
  border-radius: 5px; }

.img__container9 {
  background-color: aqua;
  height: 75%;
  background-image: url(../images/nft9.png);
  background-size: contain;
  outline: solid white 1px;
  border-radius: 5px; }

.img__container2 {
  background-color: aqua;
  height: 75%;
  background-image: url(../images/nft2.png);
  background-size: contain;
  outline: solid white 1px;
  border-radius: 5px; }

.faqtext {
  color: white;
  background-color: black;
  text-align: center;
  padding: 2%;
  font-weight: bold;
  font-size: xx-large; }

.megaqcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 25px 0; }

.qcontainer {
  outline: solid white;
  width: 60%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1.5%;
  margin: 10px; }
  .qcontainer .num {
    width: 6%;
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 2px;
    font-weight: bolder;
    text-align: center; }

.q {
  width: 50%; }
  .q a {
    text-decoration: none;
    color: white; }
    .q a:hover {
      font-weight: bolder; }

.megaacontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 15px 0; }

.acontainer {
  outline: solid black;
  color: black;
  width: 60%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1.5%;
  margin: 10px;
  scroll-behavior: smooth; }
  .acontainer .num {
    /*     outline: solid red;
         */
    width: 6%;
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 2px;
    font-weight: bolder;
    text-align: center; }

.a {
  width: 50%;
  /*     outline: solid green;
 */ }

/* FAQ END */
/* CONTACT FORM START */
.img__container {
  /*     outline: solid red;
     */
  width: 100%;
  /*     height: 300px; */
  text-align: center;
  padding: 30px;
  background-image: url(../images/49.jpg);
  background-size: cover; }
  .img__container img {
    height: 200px;
    border-radius: 10px;
    margin: 0px 40px;
    outline: solid black; }

.follow__disclaimer {
  text-align: center;
  color: white;
  background-color: black;
  padding: 20px; }

.projectdesc__container {
  /*     outline: solid blue;
     */
  background-image: url(../images/halftone_background_12.jpg);
  background-size: cover; }

.desc__title, .desc__content, .desc__footer {
  /*     outline: solid green;
     */
  padding: 30px;
  text-align: justify;
  font-weight: bolder; }

.discordlogo__container {
  text-align: center;
  padding: 30px; }
  .discordlogo__container img {
    height: 70px;
    border-radius: 50px; }

.form__container {
  background-color: #7260b4;
  height: 400px;
  text-align: center;
  position: relative; }

.form__body {
  width: 50%;
  height: 100px;
  background-color: gray;
  padding: 10px;
  border-radius: 20px;
  position: relative;
  top: 30px;
  left: 300px; }
  .form__body img {
    height: 40px; }

.login-card {
  width: 550px;
  background: rgba(255, 255, 255, 0.5);
  padding: 4rem;
  border-radius: 70px;
  position: relative; }

.login-card-logo {
  text-align: center; }
  .login-card-logo img {
    width: 50px; }

.login-card-header {
  text-align: center; }

.login-card-form {
  text-align: center; }
  .login-card-form input[type="text"] {
    width: 70%;
    height: 30px;
    border: none;
    border-radius: 10px; }
  .login-card-form input[type="password"] {
    width: 70%;
    height: 30px;
    border: none;
    border-radius: 10px; }

.login-card-footer {
  text-align: center; }

.socials-container {
  text-align: center; }

.button-container {
  padding: 10px; }

#sign-in-button {
  width: 210px;
  height: 40px;
  border-radius: 10px;
  border-style: none;
  background: black;
  color: aliceblue;
  text-transform: uppercase;
  letter-spacing: 2px; }

.form-item, .form-item-2 {
  padding: 10px; }

.form-item, .form-item-2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

.contact__body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background: linear-gradient(-45deg, #612e1e, #581630, #135b75, #0c614d);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center; }

.form-item input {
  padding: 5px; }

p {
  padding: 10px; }

textarea {
  border-radius: 6px; }

@media screen and (max-width: 1200px) {
  .grid__container {
    display: grid;
    grid-template-areas: "nav" "namae" "title" "model" "model" "infos" "disc" "mint";
    text-align: center; }
  .long__message {
    font-size: 16px;
    padding-bottom: 20px; }
  .item2 {
    height: 40vh; }
    .item2 .subtitle__container {
      height: 5%;
      font-size: small; }
    .item2 .title__container {
      height: 5%;
      font-size: small; }
  .item3 {
    height: 60vh; }
  .disc {
    font-size: small; }
  .logo__container {
    display: flex;
    justify-content: center; }
    .logo__container img {
      height: 3vh;
      width: 3vh; }
  .main__links {
    font-size: small; }
  .button__container {
    padding: 0; }
  button {
    padding: 1px 3px;
    font-size: smaller; }
  .tapa {
    height: 11%; }
  .qcontainer {
    width: 85%; }
  .acontainer {
    width: 85%; }
  .qcontainer .num {
    width: 12%; }
  .acontainer .num {
    width: 12%; }
  .login-card {
    width: 400px; }
  .img__container img {
    height: 89px; }
  .item {
    height: 254px;
    width: 190px; }
  .cards__container {
    grid-template-columns: repeat(2, 1fr); }
  .items, .owners, .floor, .volume {
    width: 30%; }
  .project__numbers .qty {
    font-size: medium; }
  .first__row {
    font-size: 12px; }
  .second__row {
    font-size: 15px; }
  .data__container {
    height: 1%; }
  .policy__num {
    font-size: x-small; }
  .logos {
    width: 100%; }
  .collection__name {
    padding: 10px;
    font-size: medium; }
  .data__container .first__row {
    margin: 0; }
  .sale__sign {
    width: 42%;
    padding: 0; }
  .mobile {
    display: inline; }
  .large {
    display: none; }
  .material-symbols-outlined {
    color: white; }
  .nav__bar {
    padding-top: 15px; }
  span .material-symbols-outline .nembre {
    background-color: #5c00d4; }
  .blank {
    display: none;
    outline: none; } }
